/* .custom-color { background-color: rgb(120, 117, 117);
    border: rgb(0, 0, 0) 1px solid;
}

/* .custom-color2 { 
  border: #504d4d 1px solid; */
/* } */
/* 
.custom-color-3 { background-color: #d1d1d1 ;
  border:  rgb(120, 117, 117) 1px solid;
} * */