* {
    background-color: aquamarine;
}

h1{
    color: #c70f0f;
    text-align: center;
}

img{width: 500px;

}

span{
color: red;
}

.perritoMono {
    width: 300px;
}

.parrafo {
    color: royalblue;
}